.$URN$_text-input-extend {
    float:left;
    width: 415px;
    height: 50px;
    margin-top: 5px;
    margin-left: 15px;
    font:normal normal 12px/1.2em Arial, sans-serif;
    position:relative;
    white-space: pre-wrap;
}
.$URN$_text-input-extend.multi-line {
    width: 845px;
    height: 100px;
}
.$URN$_text-input-extend.multi-line-small {
    width: 655px;
    height: 100px;
}
.$URN$_text-input-extend.multi-line-big {
    width: 850px;
    height: 150px;
}
.$URN$_text-input-extend.multi-line textarea {
    height: 80%;
    width: 655px;
}
.$URN$_text-input-extend.multi-line-small textarea {
    height: 65px;
    width: 455px;
}
.$URN$_text-input-extend.multi-line-big textarea {
    height: 120px;
    width: 655px;
}

.$URN$_text-input-extend.halfwidth {
    width: 207px;
}

.$URN$_text-input-extend.halfwidth label {
    width: 100px;
}

.$URN$_text-input-extend.halfwidth textarea,
.$URN$_text-input-extend.halfwidth input {
    width: 72px;
}

.$URN$_text-input-extend input,
.$URN$_text-input-extend textarea,
.$URN$_text-input-extend label {
    margin:0;
    color: #333;
    width:135px;
    vertical-align: middle;
    background: #fff;
    float:left;
}

.$URN$_text-input-extend input,
.$URN$_text-input-extend textarea {
    width: 225px;
    padding: 5px 4px;
    margin-top: -5px;
    font-style: italic;
    background-color: #ffffff;
    border: 1px solid #666;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    resize: none;
}

.$URN$_text-input-extend label {
    color: #122600;
    margin:0;
    padding: 2px 0;
    /* line-height: 24px;*/
    color: #333;
    font-weight:bold;
    height: 24px;
    vertical-align: middle;
    background: transparent;
    float:left;
}

.$URN$_text-input-extend.editable input,
.$URN$_text-input-extend.editable textarea {
    display: inline-block;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.$URN$_text-input-extend input:disabled,
.$URN$_text-input-extend textarea:disabled {
    border: 1px solid #fff;
    box-shadow: none;
    font-style: normal;
    color: #333;
    /*margin-top: 1px;*/
    resize: none;
}

.$URN$_text-input-extend input:focus,
.$URN$_text-input-extend textarea:focus {
    border-color: rgba(168, 127, 166, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(168, 127, 166, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(168, 127, 166, 0.6);
}

.$URN$_text-input-extend.invalid .invalid-text{
    position: absolute;
    left: 135px;
    bottom: 10px;
    width: 100%;
    color: #F00;
    font-size: 75%;
    text-align: left;
}

.$URN$_text-input-extend.invalid.halfwidth .invalid-text {
    left: 100px;
}

.$URN$_text-input-extend.invalid input{
    background: url(../../../../../../www/invalid.png) no-repeat;
    background-position: right 3px top 5px;
    background-size: 14px 14px;
}

.$URN$_text-input-extend.invalid input,
.$URN$_text-input-extend.invalid textarea {
    border-color: #f00;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.$URN$_text-input-extend.invalid input:focus,
.$URN$_text-input-extend.invalid textarea:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.$URN$_text-input-extend div {
    height:inherit;
    overflow-y:auto;
    padding: 2px 6px;
    overflow-wrap: break-word;
}

/**  extend height **/
.$URN$_text-input-extend .extend-height {
    position:absolute;
    left:0px;
    right:0px;
    height:15px;
    bottom:0px;
    overflow:visible;
}

/* "extender label-purple" */
.$URN$_text-input-extend .extender-height-label  {
    color:#361854;
    font-weight:normal;
    text-align: center;
}
.$URN$_text-input-extend .extender-height-label:hover,
.$URN$_text-input-extend .extender-height-label:focus {
    color:#AA31A8;
}

