.$URN$_check-input {
    float:left;
    width: 415px;
    height: 50px;
    margin-top: 5px;
    margin-left: 15px;
    font:normal normal 12px/1.2em Arial, sans-serif;
    position:relative;
}


.$URN$_check-input input,
.$URN$_check-input label {
    margin:0;
    /*padding: 4px 6px;*/
    /*margin-bottom: 10px;*/

    /*font-size: 14px;*/
    /*line-height: 20px;*/
    color: #333;
    width:135px;

    vertical-align: middle;

    background: #fff;
    float:left;
}
.$URN$_check-input label {
    /*
    text-align: left;
    color: #122600;
    float:left;
    margin-top:1px;
    height: 20px;
    line-height: 20px;
    font-weight:bold;
    */
    
    margin:0;
    color: #333;
    height: 25px;
    width:135px;
    vertical-align: middle;
    background: #fff;
    float:left;    
    font-weight:bold;    
}

.$URN$_check-input.halfwidth {
    width: 207px;
}

.$URN$_check-input.halfwidth label {
    width: 100px;
}

.$URN$_check-input.halfwidth textarea,
.$URN$_check-input.halfwidth input {
    width: 72px;
}

.$URN$_check-input input {
    width:20px;
    font-style: italic;
    line-height: 20px;
    height: 20px;
    margin-top: -3px;
}

.$URN$_check-input input:focus {
}


.$URN$_check-input.invalid .invalid-text{
    position:absolute;
    bottom:2px;
    color: #b94a48;
    font-size: 75%;
    width:100%;
    text-align: left;
}

.$URN$_check-input.invalid button {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.$URN$_check-input.invalid button:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.$URN$_check-input.two-line-label input{
    margin-top:3px;
}
