.$URN$_text-input {
    float:left;
    width: 315px;
    height: 25px;
    margin-top: 5px;
    margin-left: 15px;
    font:normal normal 12px/1.2em Arial, sans-serif;
    position:relative;
}

.$URN$_text-input.multi-line {
    width: 625px;
    height: 75px;
}
.$URN$_text-input.multi-line-big {
    width: 850px;
    height: 150px;
}
.$URN$_text-input.multi-line textarea {
    height: 45px;
    width: 455px;
}
.$URN$_text-input.multi-line-big textarea {
    height: 120px;
    width: 680px;
}

.$URN$_text-input input,
.$URN$_text-input textarea,
.$URN$_text-input label {
    margin:0;
    padding: 4px 6px;
    line-height: 24px;
    color: #333;
    height: 20px;
    width:135px;
    vertical-align: middle;
    float:left;
}
.$URN$_text-input label {
    text-align: left;
    color: #122600;
    float:left;
    margin-top:1px;
}

.$URN$_text-input input,
.$URN$_text-input textarea {
    font-style: italic;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.$URN$_text-input.editable input,
.$URN$_text-input.editable textarea {
    display: inline-block;
}

.$URN$_text-input input:disabled,
.$URN$_text-input textarea:disabled {
    border: 1px solid #fff;
    box-shadow: none;
    font-style: normal;
    color: #333;
    resize: none;
}

.$URN$_text-input input:focus,
.$URN$_text-input textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.$URN$_text-input.invalid .invalid-text{
    position:absolute;
    bottom:2px;
    color: #b94a48;
    font-size: 75%;
    width:100%;
    text-align: left;
}

.$URN$_text-input.invalid input,
.$URN$_text-input.invalid textarea {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.$URN$_text-input.invalid input:focus,
.$URN$_text-input.invalid textarea:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
