.$URN$_select-input {
    float:left;
    width: 315px;
    height: 25px;
    margin-top: 5px;
    margin-left: 15px;
    position:relative;
    font-family:Arial;
    font-style:italic;
}


.$URN$_select-input button,
.$URN$_select-input label {
    margin:0;
    padding: 4px 6px;
    line-height: 24px;
    color: #333;
    height: 30px;


    vertical-align: middle;

    background: #fff;
    float:left;
}

.$URN$_select-input button {
    padding:0px 6px;
    text-align:left;
    color: #122600;
    width:149px;
    font-size: 12px;
    overflow:hidden;
    font-family:Arial;
    font-style:italic;
}

.$URN$_select-input label {
    text-align: left;
    color: #333;
    float:left;
    margin-top:1px;
    height: 20px;
    line-height: 20px;
    width:135px;
    font-style:normal;
}


.$URN$_select-input .dropdown-menu {
    min-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.$URN$_select-input div.dropdown-menu {
    overflow-y:auto;
    max-height: 200px;
}

.$URN$_select-input .dropdown-menu.inner {
    position: static;
    border: 0;
    padding: 0;
    margin: 0;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.$URN$_select-input .dropdown-menu dt {
    display: block;
    padding: 3px 20px;
    cursor: default;
}

.$URN$_select-input .div-contain {
    overflow: hidden;
}

.$URN$_select-input .dropdown-menu li {
    position: relative;
}

.$URN$_select-input .dropdown-menu li > a.opt {
    padding-left: 35px;
}

.$URN$_select-input .dropdown-menu li > a {
    cursor: pointer;
}

.$URN$_select-input .dropdown-menu li > dt small {
    font-weight: normal;
}

.$URN$_select-input.show-tick .dropdown-menu li.selected a i.check-mark {
    display: inline-block;
    position: absolute;
    right: 15px;
    margin-top: 2.5px;
}

.$URN$_select-input .dropdown-menu li a i.check-mark {
    display: none;
}

.$URN$_select-input.show-tick .dropdown-menu li a span.text {
    margin-right: 34px;
}

.$URN$_select-input .dropdown-menu li small {
    padding-left: 0.5em;
}

.$URN$_select-input .dropdown-menu li:not(.disabled) > a:hover small,
.$URN$_select-input .dropdown-menu li:not(.disabled) > a:focus small {
    color: #64b1d8;
    color: rgba(255,255,255,0.4);
}

.$URN$_select-input .dropdown-menu li > dt small {
    font-weight: normal;
}


.dropdown .caret{
    margin-top:8px;
    margin-left:2px;
}

.dropdown-menu{
    position:absolute;
    top:100%;
    left:0;
    z-index:1000;
    display:none;
    float:left;
    min-width:160px;
    padding:5px 0;
    margin:2px 0 0;
    list-style:none;
    background-color:#ffffff;
    border:1px solid #ccc;
    border:1px solid rgba(0, 0, 0, 0.2);
    /* VD 2013-11-25 fixing CSS errors in Safari (iPad) */
    /*
    *border-right-width:2px;
    *border-bottom-width:2px;
    */
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
}

.dropdown-menu.pull-right{
    right:0;
    left:auto;
}

.dropdown-menu>li>a{
    display:block;
    padding:3px 20px;
    clear:both;
    font-weight:normal;
    line-height:20px;
    color:#333333;
    white-space:nowrap;
    }
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a{
    text-decoration:none;
    color:#ffffff;
    background-color:#0081c2;
    background-image:-moz-linear-gradient(top, #0088cc, #0077b3);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image:-webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image:-o-linear-gradient(top, #0088cc, #0077b3);
    background-image:linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus{
    color:#ffffff;
    text-decoration:none;
    outline:0;
    background-color:#0081c2;
    background-image:-moz-linear-gradient(top, #0088cc, #0077b3);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image:-webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image:-o-linear-gradient(top, #0088cc, #0077b3);
    background-image:linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus{
    color:#999999;
}

.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus{
    text-decoration:none;
    background-color:transparent;
    background-image:none;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor:default;
}

.dropdown-menu.open,
.open > .dropdown-menu {
    display: block;
}

.$URN$_select-input button{

    font-style: italic;

    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.$URN$_select-input button:disabled{
    border: 1px solid #fff;
    box-shadow: none;
    font-style: normal;
    color: #333;
    /*margin-top: 1px;*/
    resize: none;
}

.$URN$_select-input button:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.$URN$_select-input.invalid .invalid-text{
    position:absolute;
    bottom:2px;
    color: #ff0000;
    font-size: 75%;
    width:100%;
    text-align: left;
}

.$URN$_select-input.invalid button {
    border-color: #ff0000;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.$URN$_select-input.invalid button:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}


.$URN$_select-input.uneditable .null-option{
    display: none;
}

.$URN$_select-input i {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    margin-top: 1px;
}

.$URN$_select-input .selected i.glyph {
    display: inline-block;
    position: absolute;
    right: 15px;
    margin-top: 2.5px;
    background-position: -288px 0;
}
